{% load static %}
{% load url_utils %}
<!DOCTYPE html>
<html lang='en'>
<head>
<title>Profile</title>
<link rel="stylesheet" href="{% static 'libtekin/libtekin.css' %}">
</head>
<body>
{% block menu %}
  {% if menufile %}
    {% include menufile %}
  {% else %}
    <div class="menu menu-top">
      {% url_if 'home' as url_if %}
      {% if url_if > '' %}
        <div class="menu-item">
          <a href="{{ url_if }}">Home</a>
        </div>
      {% endif %}

      {% url_if 'profile' as url_if %}
      {% if user.username %}
        <div class="menu-item">
          {% if url_if > '' %}
            <a href="{{ url_if }}">{{ user.username }}</a>
          {% else %}
            {{ user.username }}
          {% endif %}
          <a href="{% url 'logout' %}">Logout</a>
        </div>
      {% else %}
        <div class="menu-item"><a href="{% url 'login' %}">Login</a></div>
      {% endif %}
    </div>
  {% endif %}
{% endblock %}
{% block content %}{% endblock %}
{% block bottomscript %}{% endblock %}
</body>
</html>
