
{% extends './_base.html' %}

{% block content %}
{% if form.errors %}
    <p>There was a problem with your registration.  Please try again.</p>
    {% for error, message in form.errors.items %}
        {{ error }}{{ message }}
    {% endfor %}
    {% for field in form.fields %}
    {{ field.error_list }}
    {% endfor %}
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
<h1>Registration</h1>
<form method="POST" class="form-group">
    {% csrf_token %}
    {{ form.email.label }}: {{ form.email }}<br/>
    {{ form.username.label }}: {{ form.username }}<br/>
    {{ form.display_name.label }}: {{ form.display_name }}<br/>
    {{ form.password1.label }}: {{ form.password1 }}<br/>
    {{ form.password2.label }}: {{ form.password2 }}<br/>
<button type="submit" class="btn btn-success">Register</button>
</form>

{% endblock %}
